services:

  redis:
    image: redis/redis-stack:latest
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 3
    ports:
      - "0:8001"

  app:
    build: .
    image: lab
    depends_on:
      redis:
        condition: service_healthy
    tty: true
    stdin_open: true
    env_file: .env
    environment:
      RUN_ID: "${RUN_ID}"
      REDIS_INSIGHT: "${REDIS_INSIGHT:-}"
    volumes:
      - ./out/${RUN_ID}:/lab/out/${RUN_ID}
    command: python -m src

  test:
    build: .
    image: lab
    depends_on:
      redis:
        condition: service_healthy
    tty: true
    stdin_open: true
    env_file: .env
    environment:
      RUN_ID: "${RUN_ID}"
      REDIS_INSIGHT: "${REDIS_INSIGHT:-}"
    command: pytest -n auto
