# Data
redis
redis-om
pydantic
pydantic-extra-types
pydantic-settings

# Model
openai
transitions

# Log
loguru
rich

# Devtools
black
ipython
isort
pre-commit
pytest
pytest-asyncio
pytest-sugar
pytest-xdist
